

    
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="add-newStudent-Content d-flex justify-content-between">
                            <h3> Edit student</h3>
                            <a href="/students" class="btn btn-primary">Back</a>
                        </div>
                        <form action="/students/edit<%= update_id.id %>" method="post" enctype="multipart/form-data">
                            <div class="my-3">
                                <label for="name">Name</label>
                                <input name="name" value="<%= update_id.name %>" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="name">Email</label>
                                <input name="email" value="<%= update_id.email %>" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="name">Cell</label>
                                <input name="cell" value="<%= update_id.cell %>" type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="name">Photo</label>
                                <input name="old_photo"type="file" class="form-control">
                                <img style="width: 200px; height: 200px; object-fit: cover;" src="/assets/upload/<%= update_id.photo %>" alt="">
                            </div>
                            <div class="my-3">
                                <label for="name">Photo</label>
                                <input name="photo"type="file" class="form-control">
                            </div>
                            <div class="my-3">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


